.sub {
    width: 200px;
    height: 200px;
    float: left;
    }

.container {
    width: 800px;
    height: 800px;
    border: 1px solid black;
    margin: 0 auto;
    }

.button {
    text-align: center;
    padding: 25px 0px;
}